:root {
    --introeemail: hsl(217, 28%, 15%);
    --fundoprincipal:  hsl(218, 28%, 13%);
    --fundorodape: hsl(216, 53%, 9%);
    --fundodepoimentos: hsl(219, 30%, 18%);
    --hover: hsl(176, 68%, 64%);
    --botao: hsl(198, 60%, 50%);
    --erro: hsl(0, 100%, 63%);
    --neutro: hsl(0, 0%, 100%);
    --neutroescuro: hsl(0, 2%, 78%);
}